<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <form class="login-form">
            <h1>Login</h1>
            
            <div class="login-form-group">
                <label>Email/User Name</label>
                <input type="text">
            </div>

            <div class="login-form-group">
                <label>Password</label>
                <input type="password">
            </div>

            <button type="submit" class="login-btn">Submit</button>
            
            <p>Don't have an account? <a href="Registration.html">Register</a></p>
        </form>
    </div>
</body>
</html>