<!DOCTYPE html>
<html>
  <head>
    <link rel ="stylesheet" href="/static/css/register2.css">
  </head>
  <body>
<div class="container">
  <div class="left">
   <div><p>ZC</p></div>
   <h3 class="zitconneext">ZitConnect</h3>
  </div>


  <div class="right">
    <h3>Create Account</h3>
    <p>Register using ZitConnect</p>
    <forms>
    
      <label class="school">School</label>
      <select class="select">
        <option></option>
        <option>School of information and communication technology</option>
        <option>School of Business</option>
        <option>School of mines and mineral resources </option>
         <option>School of built environment  </option>
         <option>School of mathematics and natural resources </option>
      <option>School of humanities and social sciences   </option>
        </select>
          
      <label class="program">Program</label>
      <select class="select">
        <option></option>
        <option>Computer Science</option>
      <option>civil engineering </option>
       <option>computer engineering </option>
        <option>information sytems </option>
         <option>Banking and finance </option>
          <option>purchesing and supply   </option>
           <option>non quota (NQ)</option>
            <option>Geology </option>
             <option>Architecture </option>
              <option>chemistry </option>
               <option>physics </option>
                <option>biology</option>
                 <option>BBA/BAC/MKT </option>
      </select>
      <label class="register-as" >Register as</label>
      <div class="radio-group">
        <label>
          <input type="radio" name="role"> Tutor
<br>
        </label>
        <label >
          <input type="radio" name="role">Student</label>

      </div>
      <div class="buttons">
        <button type="button">Back</button>
        <button type="submit">Submit</button>
        
      </div>
      </forms>
      <div class="login">
        Already Have an Account? <a href="#">Login</a>
      </div>
   
  </div>
</div>
    

  </body>
</html>