<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" href="/static/css/register1.css">
   <meta name="viewport" content="width= device-width, initial-scale=1.0">
  </head>
  <body>
    <div  class="container">
      <div class="left">
        <h2 class="left-h2" >ZC</h2>
        <h1>ZitConnect</h1>
        <h4>peer to peer Academic Support</h4>
      </div>
    <div>
      <div class="right">
        <h2>Create Account</h2>
        <p> Register using ZitConnect</p>
        <form class="form">
          <label class="name"> Full Name</label>
          <input class="firstTextArea" type="text"
          >
<label class="user">Username</label>
           <input class="secondTextArea" type="text"
          >
<label class="email">Email Address</label>
           <input class="thirdTextArea" type="email"
        >
<label class="password">password</label>
           <input class="fouthTextArea"  type="password"
          >
<label class="cp">Confim password</label>
           <input class="fifthTextArea" type="password"
          >

         <div><button class="next-button" type="submit"><a href="register2.html">Next</a></button></div> 
        </form>
        <div class="login">
          Already Have An Account?<a href="#">Login</a>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>


